<div class="row">
  <div class="col-md-3">
    <%= image_tag @profile.avatar.url, height: '126', width: '185'  %>
  </div>
  <div class="col-md-9">
    <ul class="list-group">
      <li class="list-group-item"><%= t('name') %>: <%= @profile.first_name %></li>
      <li class="list-group-item">Soyisim: <%= @profile.last_name %></li>
      <li class="list-group-item">Telefon: <%= @profile.phone %></li>
    </ul>
  </div>  
</div>

<%= link_to "Profilimi Düzenle", edit_profile_path ,class: "btn btn-default" if current_user == @profile.user %>

<%= link_to "Geri", root_path, class: "btn btn-warning pull-left " %>
<% if user_signed_in? && current_user != @profile.user %>
  <% if !friend?(@profile.user)  %>
    <%= button_to "Arkadaş Ekle", friends_path(reciever_id: @profile.user), class: "btn btn-success " %><br>
  <% else %>
    <button type="button" class="btn btn-default disabled">Arkadaşlık Beklemede</button><br>
  <% end %>
<% end %>
<p>
<div class="panel panel-info">
  <div class="panel-heading">Arkadaşlar</div>
  <div class="panel-body">
    <ul class="list-group">
      <% my_friends.each_slice(4)  do |four_friend| %>
        <div class="row">
          <% four_friend.each do |friend| %>
            <div class=" col-sm-3">
              <li class="list-group-item"><%= friend.full_name %></li><br>
            </div>
          <% end %>
        </div>
      <% end %>
    </ul>
  </div>
</div>
